.App {
  /* background-color: #1d2730; */
  background-color: #202c34;
  /* background-color: #3c198d; */
  text-align: center;
  display: flex; 
  flex-direction: column;
  justify-content: center;

  color: white;
}
