.logo {
    background-color: grey;
    padding: 4px;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
}

.logo a {
    text-decoration: none;
    /* height: 100px; */
}

.image {
    height: 100%;
}