spring:
  profiles:
    active: dev
  security:
    enabled: false
  jpa:
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        generate_statistics: true
        jdbc:
          batch_size: 50
          order_inserts: true
          order_updates: true
        order_inserts: true
        order_updates: true
  datasource:
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      idle-timeout: 30000            # 30 sekund
      max-lifetime: 600000           # 10 minut
      connection-timeout: 5000       # 5 sekund
      leak-detection-threshold: 60000  # 60 sekund
  mail:
    host: smtp.gmail.com
    port: 587
    username: mutarexx.1@gmail.com
    password: 'hzlx opsi qnwf betv'
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 3000
          writetimeout: 5000

app:
  security:
    jwt:
      secret: EgqjKQLDwxs96e8/Q6cURnC72rqllIOtR0AUsqCSffk8sq/0wqPAReUH2glVh0hcjNH6H2yWDI1Em+n1D3t5qw==
      access-token-expiration-ms: 900_000     # 15 minut
      refresh-token-expiration-ms: 259_200_000  # 3 dni
    cors:
      allowed-origins: "*"
      allowed-methods: "GET, POST, PUT, DELETE, OPTIONS, PATCH"
      allowed-headers: "Content-Type, Authorization, X-Requested-With, Accept, Origin"
      allow-credentials: true
      max-age: 3600

google:
  credentials:
    folder:
      path: classpath:token/serviceAccount.json

coinmarketcap:
  api:
    key: 90c48b1c-81a5-4e96-801f-493d4a30784b

path:
  file:
    excel: src/main/resources/tmp_files/

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus, metrics
  endpoint:
    prometheus:
      enabled: true

#logging:
#   level:
#     root: INFO
#     com.improvement_app: DEBUG
#     org.springframework.web: DEBUG
#     org.springframework.security: DEBUG
#     org.springframework.mail=DEBUG
#   file:
#     name: logs/application.log


logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.engine.jdbc.batch.internal.BatchingBatch: DEBUG
    org.hibernate.engine.jdbc.spi.SqlExceptionHelper: DEBUG
